:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
}
/* globaL style rules */
body {
  background-color: var(--WHITE);
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
}

/* class rules */

/* rules for header */
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--NAVY-BLUE);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
}

.logo:hover,
.logo:focus {
  color: var(--OCEAN);
  width: 44px;
}

.part-of-logo {
  color: var(--IRIS);
}

.navigation-list {
  list-style-type: none;
}

.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--OCEAN);
}

.address-list {
  list-style-type: none;
}

.address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--OCEAN);
}

/* rules for main content */

/* hero content section */

.hero-image-section-container {
  background-color: var(--NAVY-BLUE);
}

.hero-image-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  font-family: "Raleway", sans-serif;
}

.hero-image-button {
  border-radius: 4px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}
/* section one styles , webstudio qualities */

.first-section-list {
  list-style-type: none;
}
.first-quality-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.first-quality-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.second-quality-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.second-quality-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.third-quality-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.third-quality-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.fourth-quality-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.fourth-quality-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
